<!--views/about_me.ejs-->

<!DOCTYPE html>
<html>
<head>
	<title>My Realm</title>
	<link rel="stylesheet" type="text/css" href="/style/style.css">
	<script src="/js/jquery-3.3.1.js"></script>
	<script src="/js/main.js"></script>
</head>
<body>
	<div id = header>
		<p>Welcome to the Writer's Block</p>
		<%-include('partials/tabs.ejs')%>
		
	</div>
	<div id=container>
			<div class="hero-image">
					<div class="hero-text">
					  <h1>I am Juan Villalona</h1>
					  <p>And I am..</p>
					  
					</div>
				  </div> 

		<!--<img id="profilePic" src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/14224783_10154117370948821_5090032536490417281_n.jpg?_nc_cat=0&oh=a5e7bd975a387065d1673be29965a65b&oe=5BB5D09A">
		-->
	</div>   
	<div id= header></div>
</body>
</html>