<!--views/about_me.ejs-->

<!DOCTYPE html>
<html>
<head>
	<title>My Realm</title>
	<link rel="stylesheet" type="text/css" href="/style/contact_style.css">
	<script src="/js/jquery-3.3.1.js"></script>
</head>
<body>
	<div id = header>
		<p>Get in touch!</p>
		<%-include('partials/tabs.ejs')%>
		
	</div>
	<div id="container">
	<div class="linkContainer">
	<section class="portfolio-experiment">
		<a>
		  <span class="text">My Info</span>
		  <span class="line -right"></span>
		  <span class="line -top"></span>
		  <span class="line -left"></span>
		  <span class="line -bottom">Email: juan.villalona@lc.cuny.edu </br>Phone: 347-801-6441</span>
		</a>
	  </section>
	  
	  </div>

	  <div class="linkContainer">
		<section class="portfolio-experiment">
			<a href="https://github.com/juanvillalona">
			  <span class="text">GitHub</span>
			  <span class="line -right"></span>
			  <span class="line -top"></span>
			  <span class="line -left"></span>
			  <span class="line -bottom">Want to see my little monsters?</span>
			</a>
		  </section>
		  </div>

		  <div class="linkContainer">
			<section class="portfolio-experiment">
				<a href="https://www.wattpad.com/user/Iam_thearchitect">
				  <span class="text">Wattpad</span>
				  <span class="line -right"></span>
				  <span class="line -top"></span>
				  <span class="line -left"></span>
				  <span class="line -bottom">My writings</br></span>
				</a>
			  </section>
			  </div>
				
			</div>
			
</body>
</html>