<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Projects</title>
    <link rel="stylesheet" type="text/css" href="style/projects_style.css" />
</head>
<body>

    <div id = header>
        <p>Come see the little monsters soon!</p>
        <%-include('partials/tabs.ejs')%>        
    </div>

    <div id="container">

    </div>
        
    
</body>
</html>